<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%date %-5level] - [%thread] - [%class:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>/log_jboss/kwikemart.log</file>
		  	
		<encoder>
			<pattern>[%date %-5level] - [%thread] - [%class:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.kwikemart.cliente.ejb" level="DEBUG" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="OFF">          
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>
